<section class="order-container">
  <div class="order-inner-content">
    <app-title>PEDIDO</app-title>
    <div class="order-item">
      <form class="order-form">
        <div class="form-group">
          <app-input
            label="Produto"
            name="produto1"
            [required]="true"
            placeholder="Digite o nome do produto"
            size="default"
          ></app-input>
          <app-input
            label="Quantidade"
            name="quantidade1"
            type="number"
            [required]="true"
            placeholder="Digite a quantidade"
            size="default"
          ></app-input>
        </div>

        <div class="form-group">
          <app-input
            label="Produto"
            name="produto2"
            [required]="true"
            placeholder="Digite o nome do produto"
            size="default"
          ></app-input>
          <app-input
            label="Quantidade"
            name="quantidade2"
            type="number"
            [required]="true"
            placeholder="Digite a quantidade"
            size="default"
          ></app-input>
        </div>

        <div class="form-group">
          <app-input
            label="Observação"
            name="observacao"
            type="textarea"
            placeholder="Digite uma observação"
            class="observation"
            size="large"
            [required]="true"
          ></app-input>
        </div>
      </form>
      <app-button
        buttonClass="primary"
        route="/order"
        type="button"
        size="default"
      >
        FINALIZAR
      </app-button>
    </div>
  </div>
</section>
